.timer {
    position: absolute;
    top: 5px;
    left: 35%;
    cursor: move;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    border-radius: 15px;

    h2 {
      font-weight: 400;
      margin-bottom: 10px;
    }

    button {
        cursor: pointer;
      border-radius: 4px;
      color: var(--text-color);
      background-color: var(--main-bg);
      font-weight: 300;
      padding: 6px 8px;
      transition: background 0.3s ease;
        margin-left: 5px;
      &:hover {
        background: var(--dark-bg);
        color: var(--text-color);
      }

      &:active {
        background-color: var(--main-bg);
        color: var(--text-color);
      }
    }
}