.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 35%;
  padding: 20px 10px;
  min-width: 220px;
  border-radius: var(--b-r-l);
  cursor: move;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 35px;
  font-weight: 500;
  z-index: 5;

  .close {
    svg {
      width: 20px;
      height: 20px;
    }

    position: absolute;
    right: 10px;
  }

  .time {
    margin-top: 20px;
    display: flex;
    margin-bottom: 15px;
  }

  .buttons {
    display: flex;
    gap: 7px;

    button {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
