.info {
  position: absolute;
  top: 5px;
  left: 25%;
  cursor: move;
  z-index: 7;
  background-color: var(--main-bg);
  padding: 20px;
  border-radius: 15px;
  max-width: 400px;
  min-width: 250px;
  max-height: 540px;
  text-align: center;
  .row {
    margin-bottom: 10px;
    .close {
      width: 28px;
      height: 28px;
      margin-bottom: 40px;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 30;
    }
  }
  .authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      margin-bottom: 10px;
    }
    .content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      max-width: 200px;
      text-align: start;
      .content-item {
        h5 {
          color: rgba($color: #737373, $alpha: 0.9);
        }
        h5,
        b {
          margin-bottom: 10px;
        }
        .buttons {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          margin-bottom: 10px;
          z-index: 30;
          .icon {
            margin-left: 5px;
          }
        }
      }
    }
  }
}
