.chat {
  position: absolute;
  z-index: 15;
  left: 40%;
  top: 30%;
  padding: 30px 20px;
  max-height: 600px;
  background-color: rgba(18, 18, 18, 0.9);
  backdrop-filter: blur(30px);
  border-radius: var(--b-r-l);
  cursor: move;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 422px;
  .close {
    width: 28px;
    height: 28px;
    margin-bottom: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .chat-header {
  }
  .chat-body {
    width: 320px;
    min-height: 220px;
    max-height: 260px;
    overflow-y: scroll;
    padding: 10px;
    .self-message,
    .other-message {
      display: flex;
      flex-direction: row;
      .self-message-text,
      .other-message-text {
        padding: 6px;
        max-width: 170px;
      }
    }

    .self-message {
      justify-content: flex-end;
    }
    .other-message {
      justify-content: flex-start;
    }

    .self-message-text {
      background-color: var(--main-bg);
    }
    .other-message-text {
      background-color: var(--main-color);
    }
  }
  .chat-footer {
    z-index: 20;
    textarea {
      max-height: 20px;
    }
    .nav-icon {
      background: var(--dark-bg);

      cursor: pointer;
      border: none;

      &:hover {
        background: var(--main-bg);
        color: var(--text-color);
      }

      &:active {
        background-color: var(--main-bg);
        color: var(--text-color);
      }
    }
  }
}
