.button {
  border: none;
  border-radius: 5px;
  min-width: 90px;
  min-height: 30px;
  padding: 6px 20px;
  background: var(--main-bg);
  color: var(--text-color);
  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 1.54px;
  cursor: pointer;
  transition: background 0.3s ease;

  &:hover {
    background: var(--dark-bg);
    color: var(--text-color);
  }

  &:active {
    background-color: var(--main-bg);
    color: var(--text-color);
  }
}
