.button {
  border: none;
  border-radius: 5px;

  min-width: 90px;
  min-height: 30px;
  padding: 6px 20px;

  background: var(--main-bg);
  color: #f5f5f5;

  font-size: 14px;
  font-family: Roboto;
  letter-spacing: 1.54px;
}
