.todo {
  position: absolute;
  top: 5px;
  left: 15%;
  cursor: move;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 15px;
  // width: 60%;
  text-align: center;

  .react-kanban-board {
    display: inline !important;
    align-items: center !important;
    overflow-y: auto !important;
  }

  .react-kanban-column-header {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    min-width: 150px;
  }
  .react-kanban-column {
    margin: 5px;
    .react-kanban-card-adder-button {
      color: #fff;
      padding: 5px;
      background-color: rgba(0, 0, 0, 0.5);
      cursor: pointer;
      width: 100%;
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }
      margin-bottom: 10px;
    }
  }

  .react-kanban-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .react-kanban-card__title {
    font-size: large;
    margin-bottom: 5px;

    span:last-child {
      color: #f1f1f1;
      &:hover {
        color: gray;
      }
    }

    span {
      padding: 10px 5px;
    }
  }

  .react-kanban-card--dragging {
    transform: rotate(90deg);
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px;

    input,
    button {
      background-color: inherit;
      color: #fff;
      margin-bottom: 5px;
    }

    input {
      padding-left: 5px;
    }

    button {
      margin-right: 5px;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
  }
}
