.today {
  padding-top: 35px;
  margin-left: 150px;
  margin-bottom: 20px;
  border: 1px solid green;
}

.first {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.heading {
  font-size: 25px;
}

.paragraph {
  font-size: 20px;
}

.move {
  min-width: 400px;
  width: 400px;
  font-weight: 500;
  cursor: move;
  position: absolute;
  top: 30%;
  left: 25%;
  /* background-color: rgba(0,0,0,0.3); */
  padding: 15px;
  border-radius: 15px;
}