.mixer {
  font-family: Roboto, serif;
  display: flex;
  flex-direction: column;
  min-width: 310px;
  max-height: 380px;
  position: absolute;
  top: 5px;
  left: 35%;
  border-radius: var(--b-r-l);
  cursor: move;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  backdrop-filter: blur(30px);

  .handle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
  }

  .sounds {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 5px 20px;
    padding: 10px;
    background-color: hsla(0, 0%, 100%, 0.05);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: var(--b-r-m);
    overflow: scroll;
    cursor: default;
    font-size: 16px;

    &::-webkit-scrollbar {
      display: none;
    }

    .sound {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      height: 40px;
    }
  }
}
