.Login {
  position: absolute;
  z-index: 10;
  left: 40%;
  top: 30%;
  padding: 30px 90px;
  max-width: 500px;
  max-height: 450px;
  background-color: rgba($color: #000000, $alpha: 0.9);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  .close {
    width: 28px;
    height: 28px;
    margin-bottom: 40px;
    position: absolute;
    right: 20px;
    top: 20px;
  }
  h1 {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label{
      margin-bottom: 10px;
    }
    input {
      margin-bottom: 20px;
    }
    .column {
      display: flex;
      flex-direction: column;
      align-items:flex-start;
    }

    .row {
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    button {
      color: #fff;
      max-width: 80px;
      margin-bottom: 10px;
    }
  }
}
