.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 48px;
  /* position: absolute; */
  width: 100vw;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}
