.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 48px;
  top: 0;
  position: absolute;
  width: 100vw;

  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    .widget {
      cursor: pointer;
      border-radius: 4px;
      color: var(--text-color);
      background-color: var(--main-bg);
      font-weight: 500;
      padding: 6px;
      transition: background 0.3s ease;

      &:hover {
        background: var(--dark-bg);
        color: var(--text-color);
      }

      &:active {
        background-color: var(--main-bg);
        color: var(--text-color);
      }
    }

    // .logo {
    //   max-width: 30px;
    //   max-height: 30px;
    // }

    // .logo img {
    //   width: 100%;
    //   height: 100%;
    // }
  }
}
