.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 80px;
  padding: 0 48px;
  // top: 0;
  // position: absolute;
  width: 100vw;

  .control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;

    .widget {
      cursor: pointer;
      border-radius: var(--b-r-s);
      color: var(--text-color);
      background-color: var(--main-bg);
      font-weight: 500;
      padding: 6px;
      transition: background 0.3s ease;

      &:hover {
        background: var(--dark-bg);
        color: var(--text-color);
      }

      &:active {
        background-color: var(--main-bg);
        color: var(--text-color);
      }
    }

    // .logo {
    //   max-width: 30px;
    //   max-height: 30px;
    // }

    // .logo img {
    //   width: 100%;
    //   height: 100%;
    // }
  }
}
@media  screen and (max-width: 480px) {
  .header {
    padding: 0;
    .control {
      gap: 10px;
     
    } 
  }
  .move {
    min-width: 300px;
    width: 300px;
  }
}