.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 80px;
  padding: 0 48px;
  /* position: absolute; */
  width: 100vw;
}

.control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.switch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.switch p {
  margin-bottom: 5px;
}
.widget {
  cursor: pointer;
}