.theme {
  min-height: 100vh;
  position: absolute;
  top: 0;

  .video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    z-index: -1;
  }

  .isVisible {
    visibility: visible;
  }
  .isHidden {
    visibility: hidden;
    // display: none;
  }
}
